@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - e-Reserve</title>
</head>
<body>
	<div class="text-center">
		<h1>e-Reserve</h1>
		<h2>A Web-Based Room Reservation System for STI College-Kalookan</h2>

		<form asp-action="Login" asp-controller="User" method="get">
			<button type="submit" class="btn btn-primary">Login</button>
		</form>

		<form asp-action="Create" asp-controller="User" method="get">
			<button type="submit" class="btn btn-primary">Sign-up</button>
		</form>
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
