@model WebApplication1.Models.Facility;

@{
	ViewData["Title"] = "Facility Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - e-Reserve</title>
</head>
<body>
	<h3>Create Facilities</h3>

	<form id="Facility" asp-action="Create" method="post" onsubmit="return ValidateForm(this)">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="FacilityID" />

		<div class="form-group">
			<label for="FacilityName">Facility Name</label>
			<input type="text" class="form-control" asp-for="FacilityName" required />
		</div>

		<div class="form-group">
			<label for="Floor">Facility Floor</label>
			<input type="number" class="form-control" asp-for="Floor" required />
		</div>

		<div class="form-group">
			<label for="Number">Facility Number</label>
			<input type="number" class="form-control" asp-for="Number" required />
		</div>

		<div class="form-group">
			<label for="Status">Status</label>
			<select asp-for="Status" class="form-control" required>
				<option value="">--Please select Status--</option>
				<option value="Vacant">Vacant</option>
				<option value="Unavailable">Unvailable</option>
				<option value="Reserved">Reserved</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
