@model WebApplication1.Models.Facility;

@{
	ViewData["Title"] = "Edit Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - e-Reserve</title>
</head>
<body>
	<h3>Edit Facility</h3>

	<form id="Facility" asp-action="Edit" method="post" onsubmit="return ValidateForm(this)">
		<input type="hidden" asp-for="FacilityID" />

		<div class="form-group">
			<label for="FacilityName">Facility Name</label>
			<input type="text" class="form-control" asp-for="FacilityName" />
		</div>

		<div classs="form-group">
			<label for="Floor">Floor</label>
			<select asp-for="Floor" class="form-control">
				<option value="">--Please select floor--</option>
				<option value="1">Lobby</option>
				<option value="0">Mezzanine</option>
				<option value="2">2nd Floor</option>
				<option value="3">3rd Floor</option>
				<option value="4">4th Floor</option>
				<option value="5">5th Floor</option>
				<option value="6">6th Floor</option>
				<option value="7">7th Floor</option>
				<option value="8">8th Floor</option>
				<option value="9">Penthouse</option>
			</select>
		</div>

		<div class="form-group">
			<label for="Number">Room Number</label>
			<input type="number" class="form-control" asp-for="Number" />
		</div>

		<div class="form-group">
			<label for="Status">Status</label>
			<select asp-for="Status" class="form-control" required>
				<option value="">--Please select Status--</option>
				<option value="Vacant">Vacant</option>
				<option value="Unavailable">Unvailable</option>
				<option value="Reserved">Reserved</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
